/* japanese proverb */

@import "media-queries"

$dark: #191919

body, html
	background: #fc0317
	color: white


.bold
	font-family: 'ChunkFiveRegular', serif
	font-size: 8em
	@include screen(300px, 480px)
		font-size: 2.5em !important
	@include screen(481px, 640px)
		font-size: 3.5em !important
	@include screen(641px, 768px)
		font-size: 4em !important
	@include max-screen(1006px)
		font-size: 5em

.normal
	font-family: 'Open Sans', sans-serif
	font-size: 6.6em
	font-weight: 300
	letter-spacing: -5px
	@include screen(300px, 480px)
		font-size: 2.5em !important
	@include screen(481px, 640px)
		font-size: 3em !important
	@include screen(641px, 768px)
		font-size: 3em !important
	@include max-screen(1006px)
		font-size: 4.6em

.credit
	font-family: 'Open Sans', sans-serif
	font-size: 1.9em
	font-weight: 300
	line-height: 3em
	@include screen(300px, 480px)
		font-size: 1.2em !important
	@include screen(481px, 640px)
		font-size: 1.4em !important
	@include screen(641px, 768px)
		font-size: 1.5em

footer
	color: white
	hr
		border: solid white
		border-width: 1px 0 0
	a
		color: white
	a:hover
		color: $dark
