/* queens of the stone age */

body, html
	background: #c90000


.normal 
	font-family: 'BebasNeueRegular', sans-serif
	font-size: 6.4em
	text-transform: uppercase
	font-weight: bold
	letter-spacing: -3px

.normal-small
	font-family: 'BebasNeueRegular', sans-serif
	font-size: 4.2em
	text-transform: uppercase
	font-weight: bold
	letter-spacing: -3px

.light
	font-family: 'Open Sans', sans-serif
	font-size: 7em
	text-transform: uppercase
	font-weight: 300
	letter-spacing: 1px

.cursive
	font-family: 'Pacifico', cursive
	font-size: 5.8em
	margin: 0 0 15px 15px

.credit
	font-family: 'Open Sans', sans-serif
	font-size: 1.9em
	font-weight: 300
	line-height: 3em
